pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
xgboost==3.0.2
fastapi==0.115.12
uvicorn==0.34.3
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
python-dotenv==1.1.0
pydantic==2.13.0
pydantic-settings==2.10.1
mlflow==3.15.2
imbalanced-learn==0.13.0
openai==1.91.0
